*{
    font-family: sans-serif;
}
h1,h4{
    text-align: center;
}
#remote-container video{
    height: auto;
    position: relative !important;
}
.jumbotron{
    background-color: transparent !important;
}
.header{
    margin:0;
    color:white !important;
    background-color: orange !important;
    box-shadow:0 3px 10px rgb(255, 225, 170);
}
.overAll{
    background-color: rgb(255, 251, 244);

}

#me{
    position: relative;
    width: 90%;
    margin: 10px auto;
    display: block;
}
#me video{
    position: relative !important;
}
/* #remote-container{
    display: flex;
    flex-direction: row;
} */
.stream{
    margin:5px 0;
    padding:5px 0;
}
#canvas-container{
    display:none;
}
.buttons{
    position: absolute;
    z-index: 100;
    float:left;
}
.finish,.mic_on,.play_on{
    border:1px solid orange;
    height:35px;
    width:35px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s ease;
}
.stop,.mic-on,.play{
    color:orange;
    position: relative;
    left:25%;
    top:40%;
    transform: translateY(-50%);
    transition: 0.5s ease;


}
.finish,.mic_off,.play_off{
    border:1px solid white;
    height:35px;
    width:35px;
    border-radius: 50%;
    background-color: orange;
}
.stop,.mic-off,.pause{
    color:white;

    position: relative;
    left:25%;
    top:40%;
    transform: translateY(-50%);
    transition: 0.5s ease;
}